<main class="player">  
    <section class="player__outer">      
        <video id="video" class="player__inner" autoplay=1 controls>
            <source src="./media/new-kids-sample.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video>


        <div class="offscreen-sound-indicator -sound-1"></div>
        <div class="offscreen-sound-indicator -sound-2"></div>
        <div class="offscreen-sound-indicator -sound-3"></div>
        <div class="offscreen-sound-indicator -sound-4"></div>
        <div class="offscreen-sound-indicator -sound-5"></div>
    </section>
</main>

{{!-- <iframe width="1903" height="804" src="https://www.youtube.com/embed/8B9dJsXRHRc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}
