<div class="toggle">
    <label class="toggle__label">Sound indicators control</label>
    <button class="toggle__btn active" id="toggle-fx">FX</button>
    <button class="toggle__btn" id="toggle-dialogue">Dialogue</button>
</div>

<main class="player">  
    <section class="player__outer">      
        <video id="video" class="player__inner" autoplay=1 controls>
            <source src="./media/new-kids.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video>

        <div id="soundGrid" class="sound-grid"></div>
    </section>
</main>