<h1>The <em>Ethical</em> Corona waiting room</h1>

<div class="message-container" id="message-container"></div>
<form id="send-container" class="send-container">
    <input id="message-input" class="message-input" type="text" placeholder="type your message">
    <button class="btn -primary" type="submit">Send</button>
</form>